<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Ingredient</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Encora's Snacks</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/add-ingredient" method="POST">
        
            <div class="form-control">
                <label for="ingredient_name">Name</label>
                <input type="text" name="ingredient_name" id="ingredient_name">
            </div>

            <div class="form-control">
                <label for="ingredient_quantity">Quantity</label>
                <input type="number" name="ingredient_quantity" id="ingredient_quantity">
            </div>

            <br>

            <button type="submit">Add Ingredient</button>
        </form>
    </main>
</body>

</html>