<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make Order</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Make your order here</h1>
        <% if (snacks.length > 0) { %>
            <h3>Available Snacks !!</h3>
        <% } else { %>
            <h3>No Snacks Found!</h3>
        <% } %>
        <br>

        <% if (snacks.length > 0) { %>
            <div class="grid">
                <% for (let snack of snacks) { %>
                    <article class="card product-item">
                        <div class="card__content">
                            <h3><a href="/snack/<%= snack.dataValues.id %>"><p><%= snack.dataValues.name %> %></p></a></h3>
                        </div>
                    </article>
                    <form class="product-form" action="/" method="POST">

                        <div class="form-control">
                            <label for="quantity">Quantity</label>
                            <input type="number" name="quantity" id="quantity">
                        </div>
                    
                        <button type="submit">Add <%= snack.dataValues.name %></button>
                    </form>
                <% } %>

                <br>

                    <ul>
                        <li>Total: $XXX</li>
                        <li>Snacks: 
                            <ul>
                                <li>item 1</li>
                            </ul>
                        </li>
                    </ul>
            </div>
        <% } %>
    </main>
</body>

</html>